.portfolio {
    padding: 0 70px 125px;
}

.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    margin: 0 0 50px;
}

.portfolio__links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio__link-container {
    padding: 20px 0 19px;
    border-bottom: 1px solid #424242;
}

.portfolio__link-container:last-child {
    border: none;
    padding-bottom: 0;
}

.portfolio__link-container:first-child {
    padding-top: 0;
}

.portfolio__link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    background-image: url(../../images/portfolio-arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 18px;
    display: flex;
    transition: opacity 0.2s linear;
}

.portfolio__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1023px) {
    .portfolio {
        padding: 0 50px 90px;
    }

    .portfolio__link-container {
        border-bottom-color: #E6E6E6;
    }

    .portfolio__link {
        font-size: 28px;
        background-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio {
        padding: 0 14px 70px;
    }

    .portfolio__title {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
        background-size: 11px;
    }
}
