.search {
    padding: 70px 70px 47px;
}

.search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #424242;
    padding-bottom: 13px;
}

.search__input {
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    border: none;
    background-color: transparent;
    color: #fff;

}

.search__input:focus {
    outline: 1px solid #fff;
}

.search__button {
    background-color: #4285F4;
    background-image: url(../../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 48px;
    min-width: 34px;
    height: 34px;
    border: none;
    padding: 0;
    margin-left: 40px;
    transition: opacity 0.2s linear;
}

.search__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search__checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.search__checkbox-label {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-left: 14px;
}

.search__checkbox {
    appearance: none;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: #343434;
    position: relative;
    cursor: pointer;
}

.search__checkbox:checked{
    background-color: #343434;
}

.search__checkbox::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #A0A0A0;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    transition: all 0.2s linear;
}

.search__checkbox:checked::after{
    background-color: #2BE080;
    left: 18px;
}

.search__error {
    text-align: left;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #EE3465;
    display: block;
    margin-top: 5px;
}

@media screen and (max-width: 1023px) {
    .search {
        padding: 80px 30px 60px;
    }

    .search__checkbox-container{
        flex-direction: row-reverse
    }

    .search__checkbox-label {
        margin-left: 0;
        margin-right: 16px;
    }
}

@media screen and (max-width: 767px) {
    .search {
        padding: 84px 14px 50px;
    }

    .search__container {
        padding-bottom: 9px;
    }
    
    .search__input {
        font-size: 18px;
        line-height: 22px;
    }

    .search__checkbox-container {
        margin-top: 40px;
        justify-content: center;
    }

    .search__checkbox-label {
        font-size: 11px;
        margin-right: 13px;
    }
}
