.header {
    padding: 18px 70px;
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_promo {
    background-color: #073042;
}

.header__logo {
    height: 38px;
    width: 38px;
    transition: opacity 0.2s linear;
}

.header__logo:hover {
    cursor: pointer;
    opacity: 0.7;
}

.header__logo-link {
    display: flex;
}

@media screen and (max-width: 1023px) {
    .header{
        padding: 18px 30px;
    }
}

@media screen and (max-width: 767px) {
    .header{
        padding: 18px 14px;
    }
}
