.footer {
    padding: 79px 70px 20px;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #8B8B8B;
    margin: 0 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 21px;
        margin-bottom: 30px;
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer__container {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.footer__date {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__date {
        margin-top: 18px;
        font-size: 12px;
        line-height: 15px;
        color: #8B8B8B;
    }
}

.footer__nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__nav-list {
        flex-direction: column;
        align-items: center;
    }
}

.footer__nav-item {
    margin-left: 20px;
}

@media screen and (max-width: 767px) {
    .footer__nav-item {
        margin-left: 0;
        margin-bottom: 12px;
    }
}

.footer__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.2s linear;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 12px;
        line-height: 15px
    }
}