@import url(./vendor/normalize.css);
@import url(./vendor/fonts/font.css);


body {
  margin: 0;
  background-color: #202020;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
