.about-me {
    padding: 110px 70px 100px;
}

.about-me__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #DADADA;
    margin: 0;
    padding-bottom: 23px;
}

.about-me__container {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.about-me__info-container {
    max-width: 600px;
}

.about-me__name {
    margin: 0 0 18px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.about-me__job {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 26px;
}

.about-me__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 100px;
}

.about-me__links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-me__link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: opacity 0.2s linear;
}

.about-me__link:hover {
    opacity: 0.7;
}

.about-me__photo {
    border-radius: 10px;
    max-width: 270px;
    max-height: 327px;
    margin-left: 40px;
    object-fit: cover;
}

@media screen and (max-width: 1023px) {
    .about-me {
        padding: 90px 50px;
    }

    .about-me__info-container {
        max-width: 364px;
    }

    .about-me__name {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .about-me__job {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .about-me__description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
    }

    .about-me__photo {
        max-width: 255px;
        max-height: 307px;
    }
}

@media screen and (max-width: 767px) {
    .about-me {
        padding: 70px 14px;
    }

    .about-me__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .about-me__container {
        flex-direction: column-reverse;
        margin-top: 60px;
    }

    .about-me__name {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .about-me__job {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__description {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
    }

    .about-me__photo {
        max-width: 292px;
        max-height: 352px;
        margin: 0;
    }
}
